{% extends 'resources/base.html' %}
    {% block title %} Success! | {% endblock %}
    {% block head %}
        <style>
            :root {
                --bg-col: #B7B597;
            }

            body {
                background-color: var(--bg-col);
            }

            .p-2 {
                padding: 0.5rem;
            }

            .flex {
                display:flex;
            }

            .items-center {
                align-items: center;
            }

            .justify-center {
                justify-content: center;
            }

            .h-screen {
                height: 100vh;
            }

            .flex-col {
                flex-direction: column;
            }

            .text-4xl {
                font-size:2.25rem;
                line-height:2.5rem;
            }
        </style>
    {% endblock %}
        {% block body %}
        <pre class="p-2 font-helvetica flex flex-col items-center justify-center h-screen text-4xl">Your response has been successfully recorded!</pre>
        {% endblock %}